{% include 'partials/_nav.html' %}

	<div class="head">
	    <div id="logo">
	      <img class="mage" src="images/sonatel.gif"/>
	      <img class="mage1" src="images/logo3.jpg">
	      <h4 class="Admin">admin</h4>
	    </div>
	    <h1><em>Coding For Better Life</em></h1>
    
  </div>
   </div>
  <!-- navbar -->
  <div class="nav">
    <div class="milieu">
      <img src="/home/mamadou/Images/Sonatel-Academy.jpg">
      
    </div>
	<div class="wrapper">
		<nav class="nav-area">
			<ul>
				<li>
					<label>ACCEUIL</label>
				</li>
				<input type="radio" name="nav-area" id="SCOLARITÉ">
				<li>
					<label for="SCOLARITÉ">SCOLARITÉ</label>
					<a href="css/formulaire.html">Inscription</a>
					<a href="#">Modifier</a>
					<a href="#">Annuler</a>
					<a href="#">Suspendre</a>
				</li>
				<input type="radio" name="nav-area" id="RÉFÉRENTIEL">
				<li>
					<label for="RÉFÉRENTIEL">RÉFÉRENTIEL</label>
					<a href="#">Nouveau</a>
					<a href="#">Modifier</a>
				</li>
				<input type="radio" name="nav-area" id="PROMOTION">
				<li>
					<label for="PROMOTION">PROMOTION</label>
					<a href="#">Nouveau</a>
					<a href="#">Modifier</a>
					<a href="#">Lister</a>
				</li>
				
			</ul>
			
		</nav>
		 <footer id="footer">
    <div>
      <h3><marquee>Sonatel Academy La Premiere Ecole De Codage Gratuite</marquee></h3>

    </div>
    
  </footer>