<html>
    <head>
        <meta charset="UTF-8">
        <title>Sonatel_Academy</title>
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link rel="shortcut icon" href="{{url_for('static', filename = 'logo2.png')}}" >
    </head>
    <body style="background-color: white">
        
        <div class="container">
            <div class="well text-center" style="background-color: brown">
                <h1>Sonatel_Academy La Premiere Ecole De Codage Gratuite</h1>
            </div>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-12">
                    



                </div>
            </div>
        </div>
        <div class="well">
            <h3>Website:www.parwizforogh.com
                <span class="pull-right">Like Us:www.facebook.com</span>
            </h3>
        </div>
    </div>
</body>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</html>